.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 15px 0;
    height: 65px;
}

.main-menu ul {
    display: flex;
    list-style: none;
}

.main-menu li {
    margin-right: 25px;
}

.main-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    padding: 12px;
}

.main-menu .search-icon {
    height: 20px;
    width: 20px;
}